* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: rgb(255, 255, 255);
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__bg {
    /* Shadow */
    
    position: absolute;
    left: 22.49%;
    right: 22.49%;
    top: 41.13%;
    bottom: 7.97%;

    background: rgba(183, 29, 255, 0.5);
    filter: blur(450px);
    transform: rotate(0deg);
}

